.planet-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 150px;
  height: 305.54px;
  top: 50px;
  border: 1px;
  bottom: 444px;
  text-align: left;
}

.planet-name {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 150px;
  height: 305.54px;
  top: 50px;
  border: 1px;
  text-align: center;
  bottom: 50px;
}